                                /*tablet*/
                                
                                @media(max-width: 1000px) {
                                    header {
                                        position: fixed;
                                    }
                                    .head-right {
                                        display: none;
                                    }
                                    .head-right {
                                        display: none;
                                    }
                                    .head-left {
                                        height: auto;
                                        border-bottom: 0;
                                        float: right;
                                    }
                                    #menu-icon {
                                        padding: 18px 0 0 0;
                                        text-align: right;
                                        height: 70px;
                                        width: 50px;
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        color: #398be9;
                                    }
                                    .head-left span {
                                        padding: 18px 0 0 0;
                                        text-align: center;
                                        height: 70px;
                                        width: 50px;
                                    }
                                    .head-left ul {
                                        width: 100%;
                                        height: auto;
                                        display: none;
                                    }
                                    .head-left li {
                                        width: 100%;
                                        float: none;
                                        display: block;
                                        background: #0022bbbe;
                                    }
                                    .head-left li a {
                                        color: #ffffff;
                                    }
                                    .head-left a {
                                        text-align: left;
                                        width: 100%;
                                        text-indent: 25px;
                                        color: #333333;
                                    }
                                    .head-left li a:after {
                                        content: "";
                                        width: 30px;
                                        height: 30px;
                                        display: inline-block;
                                        position: absolute;
                                        right: 15px;
                                        top: 10px;
                                    }
                                    .menu-item li a::after {
                                        transform: scaleX(0);
                                    }
                                    .menu-item li a:hover::after {
                                        transform: scaleX(0);
                                    }
                                    .contents {
                                        width: auto;
                                    }
                                    .contents h1 {
                                        font-size: 36px;
                                    }
                                }
                                
                                @media screen and (max-width: 600px) {
                                    .head-right {
                                        display: none;
                                    }
                                    .head-left {
                                        height: auto;
                                        border-bottom: 0;
                                        float: right;
                                    }
                                    #menu-icon {
                                        padding: 18px 0 0 0;
                                        text-align: right;
                                        height: 70px;
                                        width: 50px;
                                        display: block;
                                        width: 100%;
                                        position: relative;
                                        color: #398be9;
                                    }
                                    .head-left span {
                                        padding: 18px 0 0 0;
                                        text-align: center;
                                        height: 70px;
                                        width: 50px;
                                    }
                                    .head-left ul {
                                        width: 100%;
                                        height: auto;
                                        display: none;
                                    }
                                    .head-left li {
                                        width: 100%;
                                        float: none;
                                        display: block;
                                        background: #0022bbbe;
                                    }
                                    .head-left li a {
                                        color: #ffffff;
                                    }
                                    .head-left a {
                                        text-align: left;
                                        width: 100%;
                                        text-indent: 25px;
                                        color: #333333;
                                    }
                                    .head-left li a:after {
                                        content: "";
                                        width: 30px;
                                        height: 30px;
                                        display: inline-block;
                                        position: absolute;
                                        right: 15px;
                                        top: 10px;
                                    }
                                    #extra1 {
                                        height: 800px;
                                    }
                                    #extra2 {
                                        height: 950px;
                                    }
                                    .community {
                                        width: auto;
                                    }
                                    .about {
                                        margin-left: 10px;
                                    }
                                }